body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    margin-left: 90px;
  }
  
  ul{
    margin-top: -10px;
  }
  
  .button_1{
    height: 35px;
    width: 90px;
    background-color: #e7520cb6;
    color: #ffffff;
  }
  
  .dark{
    background-color: #a19491;
    margin-left: 30px;
    padding: 10px;
  }
  
  /* Header **/
  header{
    background:#a19491;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:red 3px solid;
  }
  
  header a{
    color:yellow ;
    text-decoration:inherit;
    text-transform:uppercase ;
    font-size:auto;
  }
  
  header li{
    float:left;
    display: inline-block;
    padding: 15px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin: 5px;
    font-size: 35px;
  }
  
  header nav{
    float:right;
    margin-top:18px;
  }
  
  header .highlight, header .current a{
    color:blueviolet;
    font-weight: 20px;
    
  }
  
  header a:hover{
    color:#a19491;
    font-weight:20px;
  }
  
  /* Showcase */
  #showcase{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9k9mYGamMQtb_8xUhEj5f-8veNDMCMLWgWA&usqp=CAU");
    color:#ffffff;
   
    
  }
  
  #showcase h1{
    text-align: center;
    font-size: 40px;
  
  }
  
  #showcase p{
    text-align: center;
    font-size: x-large;
  }
  
  /* Newsletter */
  #newsletter{
    padding-top: 50px;
    min-height: 40px;
    background-color: #a19491;
  }
  
  #newsletter h1{
    margin-top: -20px;
    color: rgb(231, 231, 231);
  }
  
  #newsletter form {
    float: right;
    margin-top: -55px;
    
  }
  
  #newsletter input[type="email"]{
  height: 30px;
  width: 250px;
    
  }
  
  /* Boxes */
  #boxes {
    columns: 3;
      
  }
  
  #boxes .box{
  width: 350px;
  text-align: center; 
  box-sizing: border-box;  
  }
  
  #boxes .box img{
    width: 90px;  
    margin-top: 20px;
  }
  
  
  /* Sidebar */
  aside#sidebar{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 30px 0px 0px 30px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 95%;
    padding: 4px;
  }
  
  /* Main-col */
  article#main-col{
    float: left;
    width: 65%;
  }
  /*
  
  /* Services */
  ul#services li{
  list-style: nome;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
  
  }
  
  footer{
    padding: 20px;
          margin-top:300px;
          color:#ffffff;
          background-color:#e8491d;
          text-align: center;
  }
  
  /* Media Queries */
  @media(max-width: 768px){
  
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float: none;
      text-align: center;
      width: 90%;
    }
  
    header{
      padding-bottom: 50x;
    }
    #showcase h1{
      margin-top: 30px;
    }
    #newsletter button, .quote button{
      display: block;
      width: 102%;
    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width: 100%;
      margin-top: 5px;
    }
  }
  